<% provide(:title, "Software I've Developed") %>

<% @dev_projects.each{|proj| %>
	<h3><%= proj.title %></h3>
	<p>Project Summary</p> 
	<p><%= proj.summary %></p>
	<%= link_to "Learn more about the project here.", proj %>
	<hr>
<% } %>