<% provide(:title, "Products I've Built") %>

<% if false %>
<p>
	<span class="small">
		<span class="italic"><span class="bold">Disclaimer:</span> I've never served as a product manager in title. But making things is what I do and through my career I have managed many products from problem identification, ideation and conception through to planning and execution. Here are a few of them...</span>
	</span>	
</p>
<% end %>

<% @product_projects.each{|proj| %>
	<p><%= proj.title %></p>
	<p><small>Project Summary</small></p> 
	<p><%= proj.summary %></p>
	<%= link_to "Learn more about the project here.", proj %>
	<hr>
<% } %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<h3>PROJECT: FarmTracker</h3>

<table class="detail-table">
	<thead>
		<th scope="col">role</th>
		<th scope="col">organization</th>
		<th scope="col">industry</th>
		<th scope="col">project type</th>
		<th scope="col">skills</th>
		<th scope="col">technologies</th>
	</thead>
	<tr>
		<td data-label="role">
			Founder<br>
			Grower in chief<br>
			Database developer
		</td>
		<td data-label="organization">
			X-Street Farms
		</td>
		<td data-label="industry">
			Urban agriculture
		</td>
		<td data-label="project type">
			Operations database
		</td>
		<td data-label="skills">
			Product management<br>
			Software development
		</td>
		<td data-label="technologies">
			Ruby on Rails<br>
			Postgresql<br>
			Bootstrap<br>
			Heroku
		</td>
	</tr>
</table>

<h4>FarmTracker project summary</h4>
<p>Built a database and user interface for managing farm operations, supply inventories and other critical functions. Iteratively developed features to satisfy the operational needs of disparate user groups:</p>
<p class="indented-paragraph">FarmTracker allows Grow Team to optimize operational KPIs (increase avg yield per crop per week, decrease avg days to harvest per crop per week) in a lean, iterative, data-driven way (a/b testing and reporting).</p>
<p class="indented-paragraph">FarmTracker allows Grow Team Leadership to identify bottlenecks in production workflows, hypothesize, test and solve.</p>
<p class="indented-paragraph">FarmTracker allows Management Team to track supply inventory in real time and aids dramatically in granular financial modeling.
</p>


<hr class="project-divider">

<h3>PROJECT: Country Summary Data Visualization</h3>

<table class="detail-table">
	<thead>
		<th scope="col">role</th>
		<th scope="col">organization</th>
		<th scope="col">industry</th>
		<th scope="col">project type</th>
		<th scope="col">skills</th>
		<th scope="col">technologies</th>
	</thead>
	<tr>
		<td data-label="role">
			Founder<br>
			Grower in chief<br>
			Database developer
		</td>
		<td data-label="organization">
			X-Street Farms
		</td>
		<td data-label="industry">
			Urban agriculture
		</td>
		<td data-label="project type">
			Operations database
		</td>
		<td data-label="skills">
			Product management<br>
			Software development
		</td>
		<td data-label="technologies">
			Ruby on Rails<br>
			Postgresql<br>
			Bootstrap<br>
			Heroku
		</td>
	</tr>
</table>

<h4>Country Summary Data Visualization project summary</h4>
<p>The goal of this project was to increase digital news organizations' consumption of Graphiq's data visualization library.</p>

<p>Working closely with the senior editor on USA TODAY's World Desk, we identified his need: to give readers more background information on the countries mentioned in articles.</p>

<p>Working closely with Graphiq's product team, we built a data visualization template to suit USA TODAY's stylistic and informational needs. Then we gathered, cleansed and verified any newly necessary data.</p>

<p>Working closely with Graphiq's engineering team, we worked to expedite the rollout of a new data visualization component type: map fragments, which allow the display of arbitrarily bound geographic regions.</p>

<p>The resulting visualization template, with data available for every country on earth, was praised by USA TODAY editorial leadership, integrated into the USAT World Desk's story production workflow, embedded in thousands of news articles for hundreds of millions of impressions.</p>


<hr class="project-divider">

<h3>PROJECT: __</h3>

<table class="detail-table">
	<thead>
		<th scope="col">role</th>
		<th scope="col">organization</th>
		<th scope="col">industry</th>
		<th scope="col">project type</th>
		<th scope="col">skills</th>
		<th scope="col">technologies</th>
	</thead>
	<tr>
		<td data-label="role">
			Founder<br>
			Grower in chief<br>
			Database developer
		</td>
		<td data-label="organization">
			X-Street Farms
		</td>
		<td data-label="industry">
			Urban agriculture
		</td>
		<td data-label="project type">
			Operations database
		</td>
		<td data-label="skills">
			Product management<br>
			Software development
		</td>
		<td data-label="technologies">
			Ruby on Rails<br>
			Postgresql<br>
			Bootstrap<br>
			Heroku
		</td>
	</tr>
</table>

<h4>__ project summary</h4>
<p></p>
<p></p>
<p></p>

<hr class="project-divider">

<h3>PROJECT: __</h3>

<table class="detail-table">
	<thead>
		<th scope="col">role</th>
		<th scope="col">organization</th>
		<th scope="col">industry</th>
		<th scope="col">project type</th>
		<th scope="col">skills</th>
		<th scope="col">technologies</th>
	</thead>
	<tr>
		<td data-label="role">
			Founder<br>
			Grower in chief<br>
			Database developer
		</td>
		<td data-label="organization">
			X-Street Farms
		</td>
		<td data-label="industry">
			Urban agriculture
		</td>
		<td data-label="project type">
			Operations database
		</td>
		<td data-label="skills">
			Product management<br>
			Software development
		</td>
		<td data-label="technologies">
			Ruby on Rails<br>
			Postgresql<br>
			Bootstrap<br>
			Heroku
		</td>
	</tr>
</table>

<h4>__ project summary</h4>
<p></p>
<p></p>
<p></p>

<hr class="project-divider">
<h3>PROJECT: __</h3>

<table class="detail-table">
	<thead>
		<th scope="col">role</th>
		<th scope="col">organization</th>
		<th scope="col">industry</th>
		<th scope="col">project type</th>
		<th scope="col">skills</th>
		<th scope="col">technologies</th>
	</thead>
	<tr>
		<td data-label="role">
			Founder<br>
			Grower in chief<br>
			Database developer
		</td>
		<td data-label="organization">
			X-Street Farms
		</td>
		<td data-label="industry">
			Urban agriculture
		</td>
		<td data-label="project type">
			Operations database
		</td>
		<td data-label="skills">
			Product management<br>
			Software development
		</td>
		<td data-label="technologies">
			Ruby on Rails<br>
			Postgresql<br>
			Bootstrap<br>
			Heroku
		</td>
	</tr>
</table>

<h4>__ project summary</h4>
<p></p>
<p></p>
<p></p>

<hr class="project-divider">

<h3>PROJECT: __</h3>

<table class="detail-table">
	<thead>
		<th scope="col">role</th>
		<th scope="col">organization</th>
		<th scope="col">industry</th>
		<th scope="col">project type</th>
		<th scope="col">skills</th>
		<th scope="col">technologies</th>
	</thead>
	<tr>
		<td data-label="role">
			Founder<br>
			Grower in chief<br>
			Database developer
		</td>
		<td data-label="organization">
			X-Street Farms
		</td>
		<td data-label="industry">
			Urban agriculture
		</td>
		<td data-label="project type">
			Operations database
		</td>
		<td data-label="skills">
			Product management<br>
			Software development
		</td>
		<td data-label="technologies">
			Ruby on Rails<br>
			Postgresql<br>
			Bootstrap<br>
			Heroku
		</td>
	</tr>
</table>

<h4>__ project summary</h4>
<p></p>
<p></p>
<p></p>

