/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
	background-color: black;
	padding: 0 2vw;
	margin: 0vh 0 12vh 0;
}

@media only screen and (min-width: 900px) {
	body{
		background-color: black;
		padding: 0 15vw 0 5vw;
		margin: 0 0 12vh 0;
	}	
}


.mast-containter{

}


table.mast td{
  vertical-align: top;
}

.big-mast{
  font-size: 3em;
  font-family: 'Crimson Text', serif;
  margin: 4vh 0 4vh 0 ;
  display: inline-block;
}
.small-mast{
  font-size: 2em;
  font-family: 'Crimson Text', serif;
  color: #3b8524;
  display: inline-block;
}

h1{
	color: #3b8524;
	font-size: 6em;
	font-family: 'Crimson Text', serif;
	margin-bottom: 8vh;
}

a.header-link{
	color: #3b8524;
	text-decoration: none;
}
a.header-link:hover{
	color: #3b8524;
	text-decoration: underline;
}
a.header-link:visited{
  color: #3b8524;
  text-decoration: underline;
}

h2{
	color: #3b8524;
	font-size: 3em;
	font-family: 'Crimson Text', serif;
  margin-bottom: 2vh;
}

h3{
	color: #3b8524;
	font-size: 2em;
	font-family: 'Crimson Text', serif;
}

h4{
	color: #3b8524;
	font-size: 1.8em;
	font-family: 'Crimson Text', serif;
	margin-bottom: -1vh;
}

p{
	color: #cccccc;
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
}

.indented-paragraph{
	text-indent: 2vw;
}

a{
	color: #868bf7;
	text-decoration: none;
}

a:hover{
		color: #868bf7;
		text-decoration: underline;
}

a:visited{
    color: #868bf7;
    text-decoration: underline;
}



.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}
.small{
	font-size: 0.7em;
}









/* TABLE STYLES */

.portfolio-project-meta-table{
	color: white;
	width: 100%;
}

.portfolio-project-meta-table th{
	text-align: center;
	font-weight: bold;
	color: #cccccc;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
}
.portfolio-project-meta-table td{
	text-align: center;
	color: #cccccc;
	font-size: 0.8em;
	font-family: 'Montserrat', sans-serif;
	width: 16%;
}

@media only screen and (min-width: 900px) {
	.portfolio-project-meta-table{
		color: white;
		width: 100%;
	}
}

hr.project-divider{
	border-top: 2px solid #3b8524;
	margin: 8vh 0;
}

/*
*/
/**/
/**//**/

table.detail-table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.detail-table tr {
  background-color: black;
  border: 1px solid #cccccc;
  padding: .35em;
}

table.detail-table td {
  padding: .625em;
  text-align: center;
  vertical-align: top;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

table.detail-table th {
  color: #cccccc;
  font-size: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: .625em;
  width: 16%;
  text-align: center;
  vertical-align: bottom;
  font-family: 'Crimson Text', serif;
}

@media screen and (max-width: 700px) {
  table.detail-table {
    border: 0;
  }
  
  table.detail-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table.detail-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table.detail-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
  }
  
  table.detail-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
  }
  
  table.detail-table td:last-child {
    border-bottom: 0;
  }
}


/* admin classes */

.admin-container{
    border: solid 1px #cccccc;
    width: 60vw;
    margin: auto;
    margin-top: 4vh;
    padding: 0 2vw;
    display: block;
    background-color: white;
  }

  .admin-container h2{
    text-align: center;
  }

@media only screen and (max-width: 900px) {
  .admin-container{
    border: solid 1px #cccccc;
    width: 90vw;
    margin: auto;
    margin-top: 4vh;
    padding: 0 2vw;
    display: block;
    background-color: white;
  }

  .admin-container h2{
    text-align: center;
  }

}



label {
  color: #cccccc;
}



.form-table{
  width: 100%;
}

.trix-content{
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
}





table.scaffold-index td{
  vertical-align: top;
  color: #cccccc;
}